@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer


@namespace SmartEstimate.Nav

@inject ILoggerFactory LoggerFactory

<div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
        @if(!String.IsNullOrEmpty(Title))
        {
            <h1 class="text-base font-semibold leading-6 text-gray-900 outline-none">@Title</h1>
        }
        @if(!String.IsNullOrEmpty(Description))
        {
          <p class="mt-2 text-sm text-gray-700">@Description</p>  
        } 
    </div>

    @if(!String.IsNullOrEmpty(ButtonLabel))
    {
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <button 
                type="button" 
                class="
                    block rounded-md bg-sky-500 
                    px-3 py-2 text-center text-sm font-semibold 
                    text-white shadow-sm hover:bg-sky-400 
                    focus-visible:outline focus-visible:outline-2 
                    focus-visible:outline-offset-2 
                    focus-visible:outline-indigo-600
                "
                onclick=@TestButton
            >
                @ButtonLabel
            </button>
        </div>
    }
</div>


@code {
    [Parameter]
    public string Title { get; set; } = "Data Grid Demo";

    [Parameter]
    public string Description { get; set; } = "A list of all the users in your account including their name, title, email and role.";

    [Parameter]
    public string? ButtonLabel { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task HandleButtonClick()
    {
        await OnClick.InvokeAsync();
    }

    private void TestButton()
    {
        LoggerFactory.CreateLogger("TestButton").LogInformation("I click da button");
    }
}
