@page "/quotes/{projectLinkId}/rooms/{projectGroupLinkId}"
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@namespace SO.Components.Projects
 

@if(_isLoading) {
    <div class="flex items-center justify-center h-full">
        <Spinner Class="w-24 h-24 text-stone-400 dark:text-stone-400 fill-orange-600" />
    </div>
} else {
    <BreadcrumbNav 
        Options=@(new List<NavOptionProps> {
            new NavOptionProps { 
                Path = "/quotes", Label = "What?" 
            },
            new NavOptionProps { 
                Path = $"/quotes/{ProjectLinkId}", 
                Label = _project!.Name 
            },
            new NavOptionProps { 
                Path = $"/quotes/{ProjectLinkId}/rooms/{ProjectGroupLinkId}", 
                Label = _projectGroup!.Name 
            }
        }) 
    />
    <ProjectGroupHeader ProjectGroup=@_projectGroup />
    <div class="flex flex-1 flex-col">
    <div class="border-t border-gray-300"></div>
        <div class="container h-full flex flex-col">
            <div class="md:flex md:items-center md:justify-between my-6">
                <div class="min-w-0 flex-1">
                    <div class="flex flex-col mt-2">
                        <span><b>Default Interior Finish</b>: @GetRoomInteriorFinish()</span>
                        <span><b>Default Drawer</b>: @GetRoomDrawer()</span>
                    </div>
                </div>
                @* <div class="mt-4 flex md:ml-4 md:mt-0">
                    <button type="button" class="ml-3 inline-flex items-center rounded-md bg-sky-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500">Save</button>
                </div> *@
            </div>

            @* <RoomProperties 
                Props=@_roomProfileProps
            /> *@

            <ProjectGroupDetailProducts 
                Products=@_products 
                ProjectLinkId=@ProjectLinkId
                ProjectGroupLinkId=@ProjectGroupLinkId
            />
        </div>
    </div>
}