@page "/quotes/{projectLinkId}/rooms/{projectGroupLinkId}"
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@namespace SO.Components.Projects
 

@if(_isLoading) {
    <div class="flex items-center justify-center h-full">
        <Spinner Class="w-12 h-12" />
    </div>
} else {
    <BreadcrumbNav 
        Options=@(new List<NavOptionProps> {
            new NavOptionProps { 
                Path = "/quotes", Label = "What?" 
            },
            new NavOptionProps { 
                Path = $"/quotes/{ProjectLinkId}", 
                Label = _project!.Name 
            },
            new NavOptionProps { 
                Path = $"/quotes/{ProjectLinkId}/rooms/{ProjectGroupLinkId}", 
                Label = _projectGroup!.Name 
            }
        }) 
    />
    <ProjectGroupHeader ProjectGroup=@_projectGroup />
    <div class="container flex flex-col pt-6">
        <ProjectGroupDetailDefaults ProjectGroup=@_projectGroup />

        @* <RoomProperties 
            Props=@_roomProfileProps
        /> *@

        <ProjectGroupDetailProducts 
            Products=@_products 
            ProjectLinkId=@ProjectLinkId
            ProjectGroupLinkId=@ProjectGroupLinkId
        />
    </div>
}