@page "/quotes/{projectLinkId}/rooms/new"
@page "/quotes/{projectLinkId}/rooms/{projectGroupLinkId}"
@rendermode InteractiveServer

@namespace SO.Components.Projects

<div class="flex flex-col bg-slate-100">
    
    <SEBreadcrumbNav 
        Options=@(new List<NavOptionProps> {
            new NavOptionProps { 
                Path = "/quotes", Label = "Quotes" 
            },
            new NavOptionProps { 
                Path = $"/quotes/{ProjectLinkId}", 
                Label = _project!.Name 
            },
            new NavOptionProps { 
                Path = $"/quotes/{ProjectLinkId}/rooms/{ProjectGroupLinkId}", 
                Label = (_room is null) 
                    ? "New Room"
                    : _room!.Name 
            }
        }) 
    />


    <div class="flex flex-1 flex-col container mt-6">
        @if(_room == null) {
            <span>Loading...</span>
        } else {
            <EditForm 
                @ref=@_editForm
                Model=@_room     
                FormName="add-room"
                OnValidSubmit=@AddRoom
            >
                <ObjectGraphDataAnnotationsValidator />
                <DmnSectionHeader 
                    Title="Create Room"
                    TitleClass="!text-3xl"
                    Subtitle="Let's create a Room!"
                    SubmitButtonText="Save"
                    CancelButtonText="Clear"
                    IsLoading=@_isSubmitting
                    OnSubmitClick=@OnSubmitClick
                    OnCancelClick=@OnCancelClick
                />
                <div 
                    class="
                        w-full 
                        border-b 
                        border-stone-300
                        mt-2 mb-5
                    "
                />
                <DmnInputText 
                    Label="Customer Name" 
                    LabelClass="!text-base font-semibold" 
                    @bind-Value=@_room!.Name
                />
                <div class="m-3"></div>
            </EditForm> 

            @if(!_isNew) {
                <ProjectGroupDetailProducts 
                    Products=@_products 
                    ProjectLinkId=@ProjectLinkId
                    ProjectGroupLinkId=@ProjectGroupLinkId
                /> 
            }
        }
    </div>
</div>