

.modal-overlay {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal-overlay.exited,
.modal-overlay.exiting {
    opacity: 0;
}

.modal-overlay.entered,
.modal-overlay.entering {
    opacity: 1;
}

.modal {
    transition: transform 0.3s ease-in-out;
    transform: scale(0);
    opacity: 0;
}

.modal.exited,
.modal.exiting {
    transform: scale(0);
    opacity: 0;
}

.modal.entered,
.modal.entering {
    transform: scale(1);
    opacity: 1;
}
