@namespace SmartEstimate.Pages

@page "/quotes/{quoteId:int}"


<div class="flex flex-col h-full">
  <QuoteDetailNav QuoteId=QuoteId/>
  <QuoteDetailHeader />
  <QuoteDetailRooms QuoteId=@QuoteId />
</div>




@code {
    [Parameter]
    public int QuoteId { get; set; }
}