@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer

@namespace SmartEstimate.Pages

@using Microsoft.AspNetCore.Components.QuickGrid

@inject QuoteStore _quoteStore
@inject ModalService _modalService



<div class="container flex flex-col flex-1 bg-stone-100 pt-6 pb-3 justify-between">
    <div>
        <ContentViewHeader 
            Title="Rooms"
            Description="We heard you like rooms"
            ButtonLabel="Add Room"
            Class="mb-6"
        />

        @if(IsLoading) {
            <Spinner Class="text-stone-400 dark:text-stone-400 fill-orange-600" />
        } else if(!_roomsQueryable.Any()) {
            <span>No Quotes Available</span>
        } else {

            <QuickGrid Items=_roomsQueryable Pagination=@_pagination>
                <TemplateColumn             
                    Title="Name"
                    SortBy=@_sortByName
                    Sortable=true 
                >
                    <NavLink 
                        href=@($"/quotes/{Quote.Id}/rooms/{context.Id}")
                        class="font-medium"
                    >
                        @context.Name
                    </NavLink>
                </TemplateColumn>
                <PropertyColumn 
                    Title="Door Style"
                    Property=@(r => r.DoorStyle.Name)
                />
                <PropertyColumn 
                    Title="Finish"
                    Property=@(r => r.Finish.Name)
                />
                <PropertyColumn 
                    Title="Interior"
                    Property=@(r => r.Interior.Name)
                />
                <PropertyColumn 
                    TGridItem=RoomView 
                    TProp=string 
                    Title="Drawer Hardware"
                    Property=@(r => r.DrawerHardware.Name)
                />
                <PropertyColumn 
                    Title="Drawer Hardware"
                    Property=@(r => r.SubTotal)
                    Format="C"
                    Sortable=true 
                />
                <TemplateColumn 
                    Class="flex gap-x-2 justify-end"
                >
                    <button @onclick=@(() => DeleteRoom(context.Id))>
                        <TrashIcon Props=@(new IconProps() {
                            Class=@"
                                w-[22px]
                                cursor-pointer 
                                stroke-gray-400
                                hover:stroke-rose-500 
                                duration-300 
                                ease-in-out
                            " 
                        }) />
                    </button>         
                </TemplateColumn>
            </QuickGrid>
        }
    </div>
    <Paginator State=@_pagination />
</div>



@code {
    private bool IsLoading { get; set; } = true;
    private PaginationState _pagination = new PaginationState { ItemsPerPage = 10 };

    [Parameter]
    public QuoteView Quote { get; set; } = new();

    private IQueryable<RoomView> _roomsQueryable = new List<RoomView>().AsQueryable();
    private GridSort<RoomView> _sortByName = GridSort<RoomView>
        .ByAscending(r => r.Name);
    private ModalContentProps _deleteConfirmationInput;
    private int? _itemIdToDelete;
    

    protected override async Task OnInitializedAsync()
    {
        _roomsQueryable = Quote.Rooms.AsQueryable();

        _deleteConfirmationInput = new ModalContentProps 
        {
            Title = "Delete Room",
            Description = "Are you sure you want to delete this room?",
            IconType = typeof(TrashIcon),
            IconProps = new IconProps() { Class = "stroke-red-500" },
            IconBackgroundClass = "bg-red-100",
            ButtonClass = "bg-red-500 hover:bg-red-400",
            OnConfirm = OnDeleteConfirm 
        };

        IsLoading = false;
    }

    private void DeleteRoom(int roomId)
    {
        _itemIdToDelete = roomId;
        _modalService!.Show(_deleteConfirmationInput);
    }

    private async Task OnDeleteConfirm(bool confirmed)
    {
        _modalService!.Hide();
    }
}