@namespace SmartEstimate.Pages


<h2 class="text-base font-semibold leading-7 text-gray-900">Shipping Options</h2>
<fieldset>
    <div class="flex gap-x-4 my-4">
        <div class="flex items-center gap-x-3">
            <input id="push-everything" name="push-notifications" type="radio" class="h-4 w-4 border-gray-300 text-sky-500 focus:ring-sky-500">
            <label for="push-everything" class="block text-sm font-medium leading-6 text-gray-900">Pickup</label>
        </div>
        <div class="flex items-center gap-x-3">
            <input id="push-email" name="push-notifications" type="radio" class="h-4 w-4 border-gray-300 text-sky-500 focus:ring-sky-500">
            <label for="push-email" class="block text-sm font-medium leading-6 text-gray-900">Delivery</label>
        </div>
    </div>
</fieldset>