
@namespace SmartEstimate.Pages

@using Microsoft.AspNetCore.Components.QuickGrid

@inject QuoteStore _quoteStore



<div class="container flex flex-col flex-1 bg-gray-100 pt-6 pb-3 justify-between">
    <div>
        <ContentViewHeader 
            Title="Rooms"
            Description="We heard you like rooms"
            ButtonLabel="Add Room"
            Class="mb-6"
        />

        @if(IsLoading) {
            <Spinner Class="text-stone-400 dark:text-stone-400 fill-orange-600" />
        } else if(!_roomsQueryable.Any()) {
            <span>No Quotes Available</span>
        } else {

            <QuickGrid Items=_roomsQueryable Pagination=@_pagination>
                <TemplateColumn             
                    Title="Name"
                    SortBy=@_sortByName
                    Sortable=true 
                >
                    <NavLink href=@($"/quotes/{context.Id}")>
                        @context.Name
                    </NavLink>
                </TemplateColumn>
                <PropertyColumn 
                    Title="Door Style"
                    Property=@(r => r.DoorStyle.Name)
                />
                <PropertyColumn 
                    Title="Finish"
                    Property=@(r => r.Finish.Name)
                />
                <PropertyColumn 
                    Title="Interior"
                    Property=@(r => r.Interior.Name)
                />
                <PropertyColumn 
                    TGridItem=RoomView 
                    TProp=string 
                    Title="Drawer Hardware"
                    Property=@(r => r.DrawerHardware.Name)
                />
                <PropertyColumn 
                    Title="Drawer Hardware"
                    Property=@(r => r.SubTotal)
                    Format="C"
                    Sortable=true 
                />
                <TemplateColumn 
                    Class="flex gap-x-2 justify-end"
                >
                    <button>
                        <TrashIcon Props=@(new IconProps() {
                            Class=@"
                                w-[22px]
                                cursor-pointer 
                                stroke-gray-400
                                hover:stroke-rose-500 
                                duration-300 
                                ease-in-out
                            " 
                        }) />
                    </button>         
                </TemplateColumn>
            </QuickGrid>
        }
    </div>
    <Paginator State=@_pagination />
</div>



@code {
    private bool IsLoading { get; set; } = true;
    private PaginationState _pagination = new PaginationState { ItemsPerPage = 10 };

    [Parameter]
    public int QuoteId { get; set; }

    private QuoteView _quote = new();
    private IQueryable<RoomView> _roomsQueryable = new List<RoomView>().AsQueryable();
    private GridSort<RoomView> _sortByName = GridSort<RoomView>
        .ByAscending(r => r.Name);

    protected override async Task OnInitializedAsync()
    {
        _quote = await _quoteStore.ReadableStore.GetById(QuoteId);
        _roomsQueryable = _quote.Rooms.AsQueryable();
        IsLoading = false;
    }
}