@namespace SO.Components.Projects 
@inherits InputBase<Contact>
@inject SmartOrderApi OrderApi 

<div class="flex flex-col border-2 radius-2 border-solid border-gray-300">
    <DmnComboBox
        @bind-Value=@Value
        
</div>



@code {
    private readonly EditForm _form = default!;
    private IQueryable<Contact> _contacts = default!;
}