@using SMART.Common.CompanyManagement;


@namespace SmartEstimate.Shared.Components

<h2 class="text-base font-semibold leading-7 text-gray-900">
    Shipping Address Details
</h2>

<div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
    <div class="sm:col-span-3">
        <SEAddressElement
            Label="Company"
            Value=@ShipLocation!.LinkIDCompany
        />
    </div>

    <div class="sm:col-span-3">
        <SEAddressElement 
            Label="Contact Name" 
            Value=@ShipLocation!.DefaultContact.DisplayName
        />
    </div>

    <div class="col-span-3">
        <SEAddressElement 
            Label="Street Address" 
            Value=@ShipLocation!.DefaultAddress.Street
        />
    </div>

        <div class="col-span-3">
        <SEAddressElement 
            Label="Address Line 2" 
            Value=@ShipLocation!.DefaultAddress.StreetLine2
        />
    </div>

    <div class="sm:col-span-2 sm:col-start-1">
        <SEAddressElement 
            Label="City" 
            Value=@ShipLocation!.DefaultAddress.City
        />
    </div>

    <div class="sm:col-span-2">
        <SEAddressElement 
            Label="Province" 
            Value=@ShipLocation!.DefaultAddress.StateProvince
        />
    </div>

    <div class="sm:col-span-2">
        <SEAddressElement 
            Label="Postal Code" 
            Value=@ShipLocation!.DefaultAddress.PostalCode
        />
    </div>
</div>

@code {
    public ShipLocation? ShipLocation { get; set; }
}