@using Microsoft.AspNetCore.Components.Forms
@using Daemon.RazorUI.Input
@using SmartEstimate.Models

@inject ShipLocationStore ShipLocationStore

@namespace SmartEstimate.Shared.Components

<EditForm 
    @ref=@_editForm
    Model=@ShipLocation
    FormName="add-ship-location"
    OnValidSubmit=@AddLocation
>
    <button disabled=@IsAddingShipLocation>ComboBox Goes Here!</button>
    <span>Locations Count: @ShipLocations!.Count()</span>
    @foreach (var location in ShipLocations) {
        <div class="flex flex-col">
            <h3>Ship Location Info</h3>
            <span>Name: <span>@location.LocationName</span></span>
            <span>Street: <span>@location.DefaultAddress.Street</span></span> 
        </div>
    }
    <span onclick=@(() => IsAddingShipLocation) >Add New Address</span>
    @if(IsAddingShipLocation) {
      <DmnInputAddress />
    }

</EditForm>

@code {

    [Parameter]
    public ShipLocationView ShipLocation { get; set; }

    private EditForm _editForm;
    private bool IsAddingShipLocation { get; set; } = false;
    private IQueryable<ShipLocationView> ShipLocations { get; set; } = new List<ShipLocationView>().AsQueryable();

    protected override void OnParametersSet(){
        ShipLocation ??= new("");
    }

    protected override async Task OnInitializedAsync() {
        ShipLocations = await ShipLocationStore.ReadableStore.Get(true);
    }

    private void AddLocation() {
        // Add ShipLocation to ActiveDealer.ShipLocations
        // set Project.ActiveShipLocation to new ShipLocation
    }
}
