@using Daemon.RazorUI.Modal
@using Daemon.RazorUI.Navigation
@using Daemon.RazorUI.Icons


@inherits LayoutComponentBase

<PageTitle>SmartEstimate</PageTitle>

<div class="h-screen bg-gray-100">
    <SideNav>
        <NavOption Path="/quotes" Title="Quotes">
            <ClipboardIcon Props=@_iconProps />
        </NavOption>
        <NavOption Path="/contact" Title="Contact">
            <UsersIcon Props=@_iconProps  />
        </NavOption>
        <NavOption Path="/settings" Title="Settings">
            <SettingsIcon Props=@_iconProps  />
        </NavOption>
    </SideNav>
    <ContentView>
        @Body
    </ContentView>
    <Modal />
</div>

@code {
    private IconProps _iconProps = new IconProps() 
    { 
        Color = new TailwindColor("stone", 300) 
    };
}