@using Daemon.RazorUI.Modal
@using Daemon.RazorUI.Navigation
@using Daemon.RazorUI.Icons


@namespace SmartEstimate.Layouts

@inherits LayoutComponentBase

<PageTitle>SmartEstimate</PageTitle>

<div class="h-screen flex bg-gray-100">
    <SideNav>
        <SideNavOption Props=@(new NavOptionProps() {
            Label = "Quotes",
            Path = "/quotes"
        })>
            <ClipboardIcon Props=@_iconProps />
        </SideNavOption>
        <SideNavOption Props=@(new NavOptionProps() {
            Label = "Contact",
            Path = "/contact"
        }) >
            <UsersIcon Props=@_iconProps />
        </SideNavOption>
        <SideNavOption Props=@(new NavOptionProps() {
            Label = "Admin",
            Path = "/admin"
        }) >
            <OfficeBuildingIcon Props=@_iconProps />
        </SideNavOption>
    </SideNav>
    <ContentView>
        @Body
    </ContentView>
    <Modal />
</div>

@code {
    private IconProps _iconProps = new IconProps() 
    { 
        Class = "stroke-stone-300" 
    };
}