@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@using SmartEstimate.Animation

@page "/"
@page "/quotes"


@namespace SmartEstimate.Pages


<div class="container bg-gray-100 h-full py-10 m-0">
    @if(IsLoading) {
        <Spinner Class="text-stone-400 dark:text-stone-400 fill-orange-600" />
    } else if(!_quotes.Any()) {
        <span>No Quotes Available</span>
    } else {
        <ContentViewHeader 
            Title="Quotes"
            Description="A list of all your quotes including their name, sales associate and created and last updated dates"
            ButtonLabel="Add Quote"
            OnClick=AddQuote
        />
        <DataGridWrapper>
            <DataGrid Items=_quotes>
                <PropertyColumn 
                    TGridItem=QuoteView
                    TProp=string
                    Title="Name"
                    Property=@(q => q.Name)
                    Sortable="true" 
                />
                <PropertyColumn 
                    TGridItem=QuoteView 
                    TProp=QuoteStatus
                    Title="Status"
                    Property=@(q => q.Status)
                    Sortable=true
                />
                <PropertyColumn 
                    TGridItem=QuoteView 
                    TProp=string 
                    Title="Sales Associate"
                    Property=@(q => q.SalesAssociate)
                    Sortable=true
                />
                <PropertyColumn 
                    TGridItem=QuoteView 
                    TProp=DateTime 
                    Title="Last Updated"
                    Property=@(q => q.UpdatedAt)
                    Format="HH:mm tt MMMM d, yyyy"
                    Sortable=true 
                />
                <TemplateColumn TGridItem=QuoteView Class="flex justify-end">
                    <TrashIcon Class="
                        w-[22px]
                        cursor-pointer 
                        stroke-gray-400
                        hover:stroke-rose-500 
                        duration-300 
                        ease-in-out" 
                    />
                </TemplateColumn>
            </DataGrid>
        </DataGridWrapper>
    }
</div>