@page "/quotes/{quoteId:int}"

@inject QuoteStore _quoteStore

<h3 class="bind-prop-header">Quotes</h3>

@code {

    [Parameter]
    public int QuoteId { get; set; }

    private QuoteView _quote = new();

    protected override async Task OnInitializedAsync()
    {
        _quote = await _quoteStore.ReadableStore.GetById(QuoteId);
    }
}
