@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer

@page "/quotes/{quoteId:int}/rooms/{roomId:int}/products/{productId:int}"
@page "/quotes/{quoteId:int}/rooms/{roomId:int}/products"

@namespace SmartEstimate.Pages

@inject QuoteStore QuoteStore
@inject ILogger<ProductDetail> Logger

<div class="flex flex-col h-full"
    <SEBreadcrumbNav
        Options=@(new List<NavOptionProps> {
            new NavOptionProps { Path = "/quotes" },
            new NavOptionProps { Path = $"/quotes/{QuoteId}", Label = _quote?.Name },
            new NavOptionProps { Path = $"/quotes/{QuoteId}/rooms/{RoomId}", Label = _room?.Name },
            new NavOptionProps { Path = $"/quotes/{QuoteId}/rooms/{RoomId}/products/new", Label = "New Product" },
        }) 
    />

    <div class="flex flex-1 flex-col container mt-6">
        <ContentViewHeader 
            Title="Create Product"
            TitleClass="!text-3xl"
            Subtitle="So many products, so little time"
            SubmitButtonText="Save"
            CancelButtonText="Clear"
        /> 
        <div class="grid grid-cols-5 gap-4">
            <div class="col-span-3">
                <div class="h-full flex items-center w-2/3">
                    <div class="center-self w-full">
                        <ProductDetailTypeSelect 
                            SelectedProductType=@SelectedProductType
                            OnProductTypeChanged="OnProductTypeChanged"
                        />
                    </div>
                </div>
            </div>
            <div class="col-span-2">
               <ProductDetailPriceSummary />
            </div>

            @if(SelectedProductType is not null) {
                 <div class="col-span-3">
                    <ProductDetailDimensions />
                    <ProductDetailAddOns ProductType=@SelectedProductType />
                </div>

                <div class="col-span-2">
                    <FileUpload 
                        Class="w-full"
                        IconClass="w-24 stroke-sky-500" 
                    />
                </div>

                <div class="col-span-5">
                    <ProductDetailComments />
                </div>
            }
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int QuoteId { get; set; }

    [Parameter]
    public int RoomId { get; set; }

    [Parameter]
    public int? ProductId { get; set; }

    private bool _isNew = true;

    private QuoteView? _quote;
    private RoomView? _room;
    private ProductView? _product;

    private ProductType? _selectedProductType;

    public ProductType? SelectedProductType
    {
        get => _selectedProductType;
        set
        {
            if (_selectedProductType != value)
            {
                _selectedProductType = value;
                StateHasChanged(); // This will cause the component to rerender
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _quote = await QuoteStore.ReadableStore.GetById(QuoteId);
        _room = _quote?.Rooms.FirstOrDefault(r => r.Id == RoomId);
        if (ProductId.HasValue)
        {
            _product = _room?.Products.FirstOrDefault(p => p.Id == ProductId);
            _isNew = false;
        }
    }

    private void OnProductTypeChanged(ProductType? productType)
    {
        SelectedProductType = productType;
    }
}






