@page "/"
@page "/quotes"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering(true)]
@namespace SO.Components.Projects
 
<div class="flex flex-col h-full">
    <Search OnInput=OnSearchInput />
    <div class="container flex flex-col flex-1 justify-between bg-gray-100 h-full pt-8 pb-3">
        <div class="flex flex-col grow">
            <DmnSectionHeader 
                Title="Manage Quotes"
                SubmitButtonText="Add Quote"
                OnSubmitClick=AddQuote
                Class="mb-6"
                TitleClass="text-2xl"
            />

            @if(_isLoading) {
                <div class="flex justify-center items-center grow">
                    <Spinner Class="w-12 h-12" />
                </div>
            } else if(!_filteredProjects.Any()) {
                <span>No Quotes Found</span>
            } else {  
                <QuickGrid Items=@_filteredProjects Pagination=@_pagination>
                    <TemplateColumn               
                        Title="Name"
                    >
                        <NavLink href=@($"/quotes/{context.LinkID}") class="font-medium">
                            @context.Name
                        </NavLink>
                    </TemplateColumn>
                    <PropertyColumn 
                        Title="Sales Associate"
                        Property=@(p => p.LinkIDEmployeeSoldBy)
                    />
                    <PropertyColumn 
                        Title="Last Updated"
                        Property=@(p => p.RecordStatusDate)
                        Sortable=true
                    />
                    <TemplateColumn 
                        Class="flex gap-x-2 justify-end"
                    >
                        <button class="w-[22px] cursor-pointer" onclick=@(() => DeleteQuote(context))>
                            <TrashIcon Props=@(new IconProps() 
                                { 
                                    Class = $@"
                                        stroke-gray-400 
                                        hover:stroke-red-500 
                                        transition-hover
                                    "
                                }) 
                            />
                        </button>         
                    </TemplateColumn>
                </QuickGrid>
            }
        </div>
                
        <Paginator State=@_pagination />
   </div>
</div>