@namespace SmartEstimate.Pages


<ContentViewHeader 
    Title="Products"
    Description="What's a room without some products?"
    ButtonLabel="Add Product"
    Class="mb-6"
/>
<QuickGrid Items=Products>
    <PropertyColumn 
        Title="ID"
        Property=@(p => p.Id)
    />
    <PropertyColumn 
        Title="Code"
        Property=@(p => p.Code)
    />
    <PropertyColumn 
        Title="Qty"
        Property=@(p => p.Quantity)
    />
    <PropertyColumn 
        Title="Width"
        Property=@(p => p.Width) 
    />
    <PropertyColumn 
        Title="Height"
        Property=@(p => p.Height)
    />
    <PropertyColumn 
        Title="Depth"
        Property=@(p => p.Depth)
    />
    <PropertyColumn 
        Title="Left"
        Property=@(p => p.Left)
    />
    <PropertyColumn 
        Title="Right"
        Property=@(p => p.Right)
    />
    <PropertyColumn 
        Title="Price"
        Property=@(p => p.Price)
    />
    <PropertyColumn 
        Title="EXT"
        Property=@(p => p.EXT)
    />
    <PropertyColumn 
        Title="Comments"
        Property=@(p => p.Comments)
    />
    <TemplateColumn 
        Class="flex gap-x-2 justify-end"
    >
        <button>
            <TrashIcon Props=@(new IconProps() {
                Class=@"
                    w-[22px]
                    cursor-pointer 
                    stroke-gray-400
                    hover:stroke-rose-500 
                    duration-300 
                    ease-in-out
                " 
            }) />
        </button>         
    </TemplateColumn>
</QuickGrid>
    


@code {
    [Parameter]
    public IQueryable<ProductView> Products { get; set; } = new List<ProductView>().AsQueryable();
}