@namespace SO.Components.Projects 
@inherits InputBase<ContactFormView>
@inject IMapper Mapper
@inject SmartService SmartService 

<div class="
    flex flex-col
    grid grid-cols-2 gap-4 
">
    <div class="flex col-span-full">
        <div class="flex flex-col col-span-2">
            <DmnComboBox
                Data=@_contacts
                @bind-Value:get=@_currentContact
                @bind-Value:set=@OnContactSelected 
                TextFieldName=@nameof(Contact.DisplayName)
                Placeholder="Select a Contact"
            />
            <button 
                class="dmn-link mt-2 text-left"
                @onclick=@OnCreateNewContactClicked
            >
                Create New Contact
            </button>
        </div>
        <div class="col-span-2"></div>
    </div>
    <div class="col-span-full pt-4 border-t-2 border-gray-300">
        <ContactForm 
            ShipLocation=@ShipLocation
            @bind-Value:get=@Value
            @bind-Value:set=@OnContactChanged
            OnCancelClicked=@(() => _isEditing = false)
        />
    </div>
</div>

@code {
    [Parameter]
    public ShipLocation ShipLocation { get; set; } = default!;
    private IQueryable<Contact> _contacts = default!;
    private Contact _currentContact = default!;
    private bool _isEditing = false;

    protected override void OnInitialized() {
        if(Value == null) {
            Value = new();
        }
        //_currentFormView = Value;
        _currentContact = Mapper.Map<Contact>(Value);
    }
    
    protected override async Task OnInitializedAsync() {
        _contacts = SmartService.GetClient()
            .Contact
            .GetShipLocationContactsAsQueryable(
                ShipLocation
            );
    }

    protected override bool TryParseValueFromString(
        string? value, 
        out ContactFormView result, 
        out string? validationErrorMessage
    ) {
        throw new NotImplementedException();
    }

    private async Task OnContactSelected(Contact contact) {
        _currentContact = contact;
        Value = Mapper.Map<ContactFormView>(_currentContact);
        await ValueChanged.InvokeAsync(Value);
        _isEditing = true;
    }

    private async Task OnContactChanged(ContactFormView contactView) {
        Console.WriteLine("Contact Changed");
        Contact contact = default!;
        if(!contactView.IsPersisted) {
            contact = Mapper.Map<Contact>(contactView);
        } else {
            contact = await SmartService.GetClient()
                .Contact
                .GetShipLocationContactById(
                    contactView.LinkID,
                    ShipLocation
                )
                ?? throw new InvalidOperationException("Contact not found");
        }
        _currentContact = contact;
        Value = contactView;
        await ValueChanged.InvokeAsync(Value);
    }

    private async Task OnCreateNewContactClicked() {
        Value = new ContactFormView();
        await ValueChanged.InvokeAsync(Value); 
    }
}