@page "/quotes/new"

@namespace SmartEstimate.Pages


<div class="flex flex-col h-full"
    <SEBreadcrumbNav
        Options=@(new List<NavOptionProps> {
            new NavOptionProps { Path = "/quotes" },
            new NavOptionProps { Path = $"/quotes/add", Label = "New Quote" },
        }) 
    />

    <div class="flex flex-1 flex-col container mt-6">
        <ContentViewHeader 
            Title="Create Quote"
            TitleClass="!text-3xl"
            Subtitle="Let's do some business"
            SubmitButtonText="Save"
            CancelButtonText="Clear"
        />
        <div 
            class="
                w-full 
                border-b 
                border-stone-300
                mt-2 mb-6
            "
        />

        <DmnInputText 
            Label="Customer Name" 
            LabelClass="!text-base font-semibold mb-1"
            @bind-Value=@_customerName
        />
        <div class="m-3"></div>
        <DmnInputAddress
            Title="Customer Address"
            Subtitle="Enter the customer's address"
        />
    </div>
</div>

@code {
    private string _customerName;
}
```