@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using SMART.Common.CompanyManagement
@using Daemon.RazorUI.Input
@using SmartEstimate.Models

@inject ShipLocationStore ShipLocationStore
@inject ILogger<ShippingOptions> Logger

@namespace SmartEstimate.Shared.Components


<ShippingOptions />

@if(Project!.IsShipped) {
  <div class="flex flex-col">
    <div class="border-t border-gray-300 mb-3 mt-3"></div>

    <div class="flex flex-col">
      <div class="relative">
        <DmnComboBox 
          Label="Shipping Location"
          Class="pb-0"
          Options=@_shipLocationOptions 
          @bind-Value=@_currentShipLocationLinkId
          @onchange=@OnShipLocationChanged
        />
        <ValidationMessage For=@(() => Project.ProjectShipLocation) /> 
      </div>
      @if(!_isAddingShipLocation) {
        <span 
          @onclick=@OnAddressClick
          class="
            text-sky-500
            text-right
            font-semibold
            hover:text-sky-400
            cursor-pointer
            pt-0.5
        ">
          Add New Address
        </span>
      }
    </div>
    <div class="mb-4"></div>

    @if(!_isAddingShipLocation && Project?.ProjectShipLocation is null) {
      <span>No Current Shipping Address</span>
    } else if(_isAddingShipLocation) {
      <SEShipLocationForm 
        ShipLocation=@Project?.ProjectShipLocation
        OnCancel=@OnShipLocationCancel 
        OnCreate=@OnShipLocationCreate
      />
    } else {
      <h3>Current Shipping Address</h3>
      <SEShipLocationView ShipLocation=@Project?.ProjectShipLocation />
    }
  </div>
}


@code {

  [Parameter]
  public ProjectView? Project { get; set; }

  //private ProjectView? _project { get; set; }
  //private ShipLocationView? _shipLocation { get; set; }

  [CascadingParameter]
  public EditContext? EditContext { get; set; }

  private IQueryable<ShipLocationView>? _shipLocations;
  private IQueryable<DmnSelectOption>? _shipLocationOptions;
  private string? _currentShipLocationLinkId;
  

  private bool _isAddingShipLocation = false;
    
      
  protected override async Task OnInitializedAsync() {
    //_project = EditContext!.Model as ProjectView;
    _currentShipLocationLinkId = Project?.ProjectShipLocation?.LinkID; //_project!.ProjectShipLocation?.LinkID;
    _shipLocations = await ShipLocationStore.ReadableStore.Get(true);
    _shipLocationOptions = _shipLocations.Select(
      sl => new DmnSelectOption {
        Value = sl.LinkID,
        Label = sl.LocationName
      }
    );
    EditContext!.OnFieldChanged += OnFieldChanged;
  }

  void OnFieldChanged(object? sender, FieldChangedEventArgs e) {
    StateHasChanged();
  }

  private void OnAddressClick(MouseEventArgs e) {
    _isAddingShipLocation = true;
    //StateHasChanged();
  }
  
  private void OnShipLocationCancel() {
    _isAddingShipLocation = false;
    //StateHasChanged();
  }

  private void OnShipLocationCreate(ShipLocationView shipLocation) {
    Project!.ProjectShipLocation = shipLocation;
    _isAddingShipLocation = false;
    StateHasChanged();
  }      

  private void OnShipLocationChanged(ChangeEventArgs e) {
    _currentShipLocationLinkId = e.Value?.ToString();
    Logger.LogInformation($"ShipLocationChanged: {_currentShipLocationLinkId}");
    StateHasChanged();
  }  
}