@namespace SmartEstimate.Pages

@page "/contact"

<div class="flex py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
        <div>
          <h2 class="text-3xl font-bold tracking-tight text-gray-900">Get in touch</h2>
          <p class="mt-4 leading-7 text-gray-600">Quam nunc nunc eu sed. Sed rhoncus quis ultricies ac pellentesque.</p>
        </div>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
          <div class="rounded-2xl bg-white p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Collaborate</h3>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
              <div>
                <dt class="sr-only">Email</dt>
                <dd><a class="font-semibold text-indigo-600" href="mailto:collaborate@example.com">collaborate@example.com</a></dd>
              </div>
              <div class="mt-1">
                <dt class="sr-only">Phone number</dt>
                <dd>+1 (555) 905-2345</dd>
              </div>
            </dl>
          </div>
          <div class="rounded-2xl bg-white p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Press</h3>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
              <div>
                <dt class="sr-only">Email</dt>
                <dd><a class="font-semibold text-indigo-600" href="mailto:press@example.com">press@example.com</a></dd>
              </div>
              <div class="mt-1">
                <dt class="sr-only">Phone number</dt>
                <dd>+1 (555) 905-3456</dd>
              </div>
            </dl>
          </div>
          <div class="rounded-2xl bg-white p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Join our team</h3>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
              <div>
                <dt class="sr-only">Email</dt>
                <dd><a class="font-semibold text-indigo-600" href="mailto:careers@example.com">careers@example.com</a></dd>
              </div>
              <div class="mt-1">
                <dt class="sr-only">Phone number</dt>
                <dd>+1 (555) 905-4567</dd>
              </div>
            </dl>
          </div>
          <div class="rounded-2xl bg-white p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Say hello</h3>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
              <div>
                <dt class="sr-only">Email</dt>
                <dd><a class="font-semibold text-indigo-600" href="mailto:hello@example.com">hello@example.com</a></dd>
              </div>
              <div class="mt-1">
                <dt class="sr-only">Phone number</dt>
                <dd>+1 (555) 905-5678</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 pt-16 lg:grid-cols-3 border-t border-gray-800">
        <div>
          <h2 class="text-3xl font-bold tracking-tight text-gray-900">Locations</h2>
          <p class="mt-4 leading-7 text-gray-600">Consequat sunt cillum cillum elit sint. Qui occaecat nisi in ipsum commodo.</p>
        </div>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
          <div class="rounded-2xl bg-white p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Factory and Head Office</h3>
            <address class="mt-3 space-y-1 text-sm not-italic leading-6 text-gray-600">
              <p>4983 Highway 17</p>
              <p>Alfred ON</p>
              <p>K0B 1A0</p>
            </address>
          </div>
          <div class="rounded-2xl bg-white p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Sales and Marketing Office</h3>
            <address class="mt-3 space-y-1 text-sm not-italic leading-6 text-gray-600">
              <p>2515 St Laurent Blvd</p>
              <p>Ottawa ON</p>
              <p>K1H 8P5</p>
            </address>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
