@page "/"
@page "/data-grid"


<div class="container bg-gray-100 h-full py-10">
    <ContentViewHeader />
    <DataGridWrapper>
        <DataGrid Items="@people">
            <PropertyColumn 
                TGridItem="Person" 
                TProp="int" 
                Property="@(p => p.PersonId)" Sortable="true" 
            />
            <TemplateColumn TGridItem="Person">
                <button>Hire</button>
                <button>Fire</button>
            </TemplateColumn>
        </DataGrid>        
    </DataGridWrapper>
</div>

@code {

    IQueryable<Person> people = new[]
    {
        new Person(10895, "Jean Martin", new DateOnly(1985, 3, 16)),
        new Person(10944, "António Langa", new DateOnly(1991, 12, 1)),
        new Person(11203, "Julie Smith", new DateOnly(1958, 10, 10)),
        new Person(11205, "Nur Sari", new DateOnly(1922, 4, 27)),
        new Person(11898, "Jose Hernandez", new DateOnly(2011, 5, 3)),
        new Person(12130, "Kenji Sato", new DateOnly(2004, 1, 9)),
    }.AsQueryable();
}
