@page "/quotes/{quoteId:int}";

@inject QuoteService QuoteService

<h3 class="bind-prop-header">Quotes</h3>

@code {

    [Parameter]
    public int QuoteId { get; set; }

    private List<Quote> _quotes = new();

    protected override void OnInitialized()
    {
    }
}
