@page "/"
@page "/quotes"

@inject QuoteService _quoteService


<div class="container bg-gray-100 h-full py-10">
    <ContentViewHeader />
    <DataGridWrapper>
        <DataGrid Items=@_quotes>
            <PropertyColumn 
                TGridItem="Quote" 
                TProp="string" 
                Title="Quote Name"
                Property="@(q => q.Name)" 
                Sortable="true" 
            />
            <PropertyColumn 
                TGridItem="Quote" 
                TProp="string" 
                Title="Sales Associate"
                Property="@(q => q.SalesAssociate)"
                Sortable="true" 
            />
            <TemplateColumn TGridItem="Quote">
                <button>it</button>
                <button>Fire</button>
            </TemplateColumn>
        </DataGrid>
    </DataGridWrapper>
</div>

@code {
    private IQueryable<Quote> _quotes;

    protected override void OnInitialized()
    {
        _quotes = _quoteService.GetQuotesAsQueryable();
    }
}
