@page "/";
@page "/quotes";

@using SmartEstimate.Nav
@using SmartEstimate.Models

@inject QuoteService _quoteService


<div class="container bg-gray-100 h-full py-10">
    <ContentViewHeader />
    <DataGridWrapper>
        <DataGrid Items="@quotes">
            <PropertyColumn 
                TGridItem="Quote" 
                TProp="string" 
                Property="@(q => q.Name)" 
                Sortable="true" 
            />
            <TemplateColumn TGridItem="Quote">
                <button>Hire</button>
                <button>Fire</button>
            </TemplateColumn>
        </DataGrid>
    </DataGridWrapper>
</div>

@code {
    public IQueryable<Quote> quotes;

    protected override void OnInitialized()
    {
        quotes = _quoteService.GetQuotesAsQueryable();
    }
}
