@namespace SmartEstimate.DataGrid

<div class="mt-4 flex flex-col flex-1">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 h-full">
        <div class="flex flex-col flex-1 min-w-full py-2 align-middle sm:px-6 lg:px-8 h-full">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
