@using Microsoft.AspNetCore.Components.Forms
@using Daemon.RazorUI.Input
@using Daemon.RazorUI.Layout
@using SO.Data

@inject IMapper Mapper
@inject ILogger<ShipLocationForm> Logger
@inject SmartOrderApi OrderApi
 
@namespace SO.Components.Projects


<EditForm 
    @ref=@_editForm
    Model=@_shipLocationFormView
    FormName="ship-location-form"
    class="flex flex-col"
>
    <ObjectGraphDataAnnotationsValidator />
    
    <DmnSectionHeader 
        Title="New Shipping Location"
        TitleClass="!text-xl"
        SubmitButtonText=@((ShipLocation == null ? "Add" : "Update"))
        CancelButtonText=@((ShipLocation == null ? "Cancel" : "Delete"))
        IsLoading=@_isSubmitting
        OnSubmitClick=@OnSubmitClick
        OnCancelClick=@OnCancelClick
    />

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
            <DmnInputText 
                Label="Location Name"
                @bind-Value=@ShipLocation!.LocationName
            />
        </div>
        <div class="sm:col-span-3"></div>
        <ContactForm />
        <div class="sm:col-span-3">
            <DmnInputText 
                Label="Email Address" 
                @bind-Value=@ShipLocation!.DefaultContact.DefaultEmail.DisplayAs
            />
        </div>
        <div class="sm:col-span-3">
            <DmnInputText 
                Label="Phone Number" 
                @bind-Value=@ShipLocation!.DefaultContact.DefaultPhone.DisplayAs
            />
        </div>
        <div class="col-span-full">
            <DmnInputText 
                Label="Street Address" 
                @bind-Value=@ShipLocation!.DefaultAddress.Street
            />
        </div>
            <div class="col-span-full">
            <DmnInputText 
                Label="Address Line 2" 
                @bind-Value=@ShipLocation!.DefaultAddress.StreetLine2
            />
        </div>
        <div class="sm:col-span-2 sm:col-start-1">
            <DmnInputText 
                Label="City" 
                @bind-Value=@ShipLocation!.DefaultAddress.City
            />
        </div>
        <div class="sm:col-span-2">
            <DmnInputText 
                Label="Province" 
                @bind-Value=@ShipLocation!.DefaultAddress.StateProvince
            />
        </div>
        <div class="sm:col-span-2">
            <DmnInputText 
                Label="Postal Code" 
                @bind-Value=@ShipLocation!.DefaultAddress.PostalCode
            />
        </div>
    </div>
</EditForm>


@code {

    [Parameter]
    public ShipLocation? ShipLocation { get; set; }
    private  ShipLocationFormView? _shipLocationFormView;

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<ShipLocation> OnChange { get; set; }
        
 
    private EditForm _editForm;
    private bool _isSubmitting = false;
    private bool IsAddingShipLocation { get; set; } = false;
    private IQueryable<ShipLocation> ShipLocations { get; set; }

    protected override void OnParametersSet() {
        if(ShipLocation != null) {
            _shipLocationFormView = Mapper.Map<ShipLocationFormView>(ShipLocation);
        }
        _shipLocationFormView = new("");
    }

    protected override async Task OnInitializedAsync() {
        var locations = await OrderApi
            .ShipLocation
            .GetShipLocations();
        ShipLocations = locations.AsQueryable();
    }

    private async Task OnSubmitClick() {
        if (!_editForm!.EditContext!.Validate()) {
            return;
        }

        if(ShipLocation == null) {
            await AddLocation();
        } else {
            await UpdateLocation();
        }
    }

    private void OnCancelClick() {
        OnCancel.InvokeAsync();
    }

    private async Task AddLocation() {
        _isSubmitting = true;
        Logger.LogInformation($"Creating new project: {_shipLocationFormView!.LocationName}");
        ShipLocation = await OrderApi
            .ShipLocation
            .AddShipLocation(
                _shipLocationFormView.LocationName,
                _shipLocationFormView.DefaultAddress.Street,
                _shipLocationFormView.DefaultAddress.StreetLine2,
                _shipLocationFormView.DefaultAddress.City,
                _shipLocationFormView.DefaultAddress.StateProvince,
                _shipLocationFormView.DefaultAddress.PostalCode,
                _shipLocationFormView.DefaultAddress.AddressNotes
            );
        Logger.LogInformation($"Created new project: {_shipLocationFormView!.LocationName}");
        _isSubmitting = false;
    }
    
    private async Task UpdateLocation() {
        _isSubmitting = true;
        Logger.LogInformation($"Updating project: {_shipLocationFormView!.LocationName}");
        @* ShipLocationView updatedLocation = await OrderApi!
            .ShipLocation
            .UpdateShipLocation(ShipLocation!);
        Logger.LogInformation($"Updated project: {updatedLocation.LocationName}");
        await OnChange.InvokeAsync(updatedLocation); *@
        _isSubmitting = false;
    }
}
