
@layer base {
    html {
        font-family: Nunito, system-ui, sans-serif;
        font-display: swap;
    }

    body {
        height: 100vh;
    }
}

@layer components {
    .learn-blazor-header {
        @apply text-2xl font-bold text-stone-800;
    }

    .learn-blazor-section {
        @apply w-full border-2 rounded-md border-stone-800 p-6;
    }

    .learn-blazor-button {
        @apply rounded-md min-w-[80px] px-2 h-10 text-stone-100 text-base font-bold ease-in-out duration-300 border-2 border-slate-950 no-underline flex w-fit items-center justify-center hover:text-stone-100 bg-sky-600 hover:brightness-110;
    }


    .daemon-button {
        @apply 
            flex rounded-md bg-indigo-600 px-3 py-2 justify-center
            text-center text-sm font-semibold text-white shadow-sm
            hover:bg-indigo-500 w-fit min-w-[80px] focus-visible:outline 
            focus-visible:outline-2 focus-visible:outline-offset-2 
            focus-visible:outline-indigo-600;
    }



    .modal-overlay.exited,
    .modal-overlay.exiting {
        opacity: 0;
    }

    .modal-overlay.entered,
    .modal-overlay.entering {
        opacity: 1;
    }

    .modal.exited,
    .modal.exiting {
        transform: scale(0);
        opacity: 0;
    }

    .modal.entered,
    .modal.entering {
        transform: scale(1);
        opacity: 1;
    }
}
