@namespace SO.Components.Projects
@inject SmartService SmartService

<nav class="
    container-wide
    flex 
    py-2.5 
    w-full 
    gap-x-6
    text-sm font-semibold text-stone-700
    bg-stone-300
">
    @foreach (var option in MenuOptions)
    {
        <NavLink 
            href=@(option.Item2)
            class="px-3 py-1.5"
            ActiveClass="
                text-sky-500
                rounded-md
                bg-sky-100
            "
            Match=NavLinkMatch.All
        >
            @option.Item1
        </NavLink>
    }
</nav>

@code {

    [Parameter] 
    public Project Project { get; set; } = default!;

    private (string, string)[] MenuOptions { get; set; } = new (string, string)[]{};
    private IList<ProjectFileStorageRecord>? _documents;
    private int? _documentCount;
    private string DocumentCount => _documentCount == null
        ? "..."
        : _documentCount.ToString();

    protected override void OnInitialized() {
        MenuOptions = new (string, string)[] {
            ("Rooms", $"/quotes/{Project.LinkID}"),
            ("Shipping", $"/quotes/{Project.LinkID}/shipping"),
            ($"Documents ({DocumentCount})", $"/quotes/{Project.LinkID}/documents"),
        };
    }

    protected override async Task OnInitializedAsync() {
        _documents = await SmartService.GetClient()
            .File
            .GetFilesFromProject(Project);
        _documentCount = _documents.Count;

        // TODO: This is dumb
        MenuOptions = new (string, string)[] {
            ("Rooms", $"/quotes/{Project.LinkID}"),
            ("Shipping", $"/quotes/{Project.LinkID}/shipping"),
            ($"Documents ({DocumentCount})", $"/quotes/{Project.LinkID}/documents"),
        };
    }
}