@using SMART.Common.ProjectManagement
@namespace SO.Components.Projects

<div class="
    container-wide 
    flex flex-col 
    items-start justify-between 
    gap-x-8 gap-y-4 
    bg-stone-600 
    py-4 
    sm:flex-row sm:items-center
">
    <div>
        <div class="flex items-center gap-x-3">
            <div class="flex-none rounded-full bg-green-400/10 p-1 text-green-400">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <h1 class="flex gap-x-3 text-base leading-7">
                <span class="font-semibold text-xl text-gray-200">@Project!.Name</span>
            </h1>
        </div>
        <p class="mt-2 leading-6 text-gray-300"><b>Sales Associate</b>: @Project!.LinkIDEmployeeSoldBy</p>
    </div>
    <div class="
        order-first flex-none 
        rounded-full bg-green-200 
        px-2 py-1 text-sm 
        font-bold text-green-700 
        ring-2 ring-inset ring-green-700
        sm:order-none
    ">
        Approved
    </div>
</div>

    <!-- Stats -->
<div class="
    grid grid-cols-1 
    sm:grid-cols-2 lg:grid-cols-4
    bg-stone-600 ">
    <div class="border-t border-stone-500 py-6 px-4 sm:px-6 lg:px-8">
        <p class="text-sm font-medium leading-6 text-gray-300">Total</p>
        <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-white">$@TotalTaxIn</span>
        </p>
    </div>
    <div class="border-t border-stone-500 py-6 px-4 sm:px-6 lg:px-8 sm:border-l">
        <p class="text-sm font-medium leading-6 text-gray-300">Subtotal</p>
        <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-white">$@SubTotal</span>
        </p>
    </div>
    <div class="border-t border-stone-500 py-6 px-4 sm:px-6 lg:px-8 lg:border-l">
        <p class="text-sm font-medium leading-6 text-gray-300">Discount</p>
        <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-white">@Discount%</span>
        </p>
    </div>
    <div class="border-t border-stone-500 py-6 px-4 sm:px-6 lg:px-8 sm:border-l">
        <p class="text-sm font-medium leading-6 text-gray-300">Shipping</p>
        <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-white">$@Shipping</span>
        </p>
    </div>
</div>

<ProjectDetailNav Project=@Project />


@code {
    [Parameter]
    public Project? Project { get; set; }

    [Parameter]
    public int DocumentCount { get; set; }

    private float TotalTaxIn => Project!.PriceTotalTaxIn == null
        ? (float)Project!.PriceTotalTaxIn
        : 0;
    private float TotalTaxOut => Project!.PriceTotalTaxOut == null
        ? (float)Project!.PriceTotalTaxOut
        : 0;
    private float SubTotal => Project!.PriceSubTotal != null
        ? (float)Project!.PriceSubTotal
        : 0;
    private float Discount => Project!.PriceClientDiscountAmount != null
        ? (float)Project!.PriceClientDiscountAmount
        : 0;
    private float Shipping = 0;
}