@namespace Daemon.Components



<select id="location" name="location" class="block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-sky-500 sm:text-sm sm:leading-6">
    <option>Don't pick this</option>
    <option selected>Awesome</option>
    <option>Less Awesome</option>
</select>
